{
  "openapi": "3.1.0",
  "info": {
    "title": "AI Wardrobe API",
    "description": "AI Wardrobe is a powerful and easy-to-use service that allows you to virtually try on different outfits on a person's image.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "paths": {
    "/api/v1/changers/change-clothes/": {
      "post": {
        "description": "Allows you to change the clothes on a person in an image.",
        "requestBody": {
          "description": "Image and customization options",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "human_image_base64": {
                    "type": "string",
                    "description": "Base64 encoded string of the person's image."
                  },
                  "cloth_image_base64": {
                    "type": "string",
                    "description": "Base64 encoded string of the clothing image."
                  },
                  "human_image_url": {
                    "type": "string",
                    "description": "URL of the person's image."
                  },
                  "cloth_image_url": {
                    "type": "string",
                    "description": "URL of the clothing image."
                  },
                  "environment_image_base64": {
                    "type": "string",
                    "description": "Base64 encoded string of the background image."
                  },
                  "environment_image_url": {
                    "type": "string",
                    "description": "URL of the background image."
                  },
                  "activity": {
                    "type": "string",
                    "description": "The activity the person is doing."
                  },
                  "weather": {
                    "type": "string",
                    "description": "The weather conditions."
                  },
                  "camera": {
                    "type": "string",
                    "description": "The camera style."
                  },
                  "style": {
                    "type": "string",
                    "description": "The overall style of the image."
                  },
                  "person_image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of URLs to the person images."
                  },
                  "clothing_image_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of URLs to the clothing images."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation successful",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "description": "URL of the generated image."
                    },
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of URLs to the generated images."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/analyzers/validate-pose/": {
      "post": {
        "description": "Validates the pose of a person in an image.",
        "requestBody": {
          "description": "Image to validate",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "picture": {
                    "type": "string",
                    "description": "Base64 encoded string of the image to validate."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pose validation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correct": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}